body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
}

/* Formatting for game box */
.gameWindow {
    max-width: 1000px;
    width: 100%;
    height: 635px;
    background-color: #25a7e1;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

h1 {
    font-size: 60pt;
    text-align: center;
    top: 40px;
    font-weight: 700;
}
img {
    width: 500px;
    height: 300px;
}


.answers {
    position: relative;
    margin-top: 20px;
}

button {
    background-color: #d7aa33;
    padding: 20px;
    width: 170px;
    height: 100px;
    font-weight: 700;
    font-size: 20pt;
    border-radius: 30px;
    border-color: black;
    border-width: 2pt;
    border-style: solid;
}
    .question {
    margin-top: 30px;
}

    .holder1 {
    font-weight: 700;
    font-size: 33pt;
}

#button1    {
    position: absolute;
    left: 12%;
}
#button2    {
    position: absolute;
    left: 32%;
}
#button3    {
    position: absolute;
    left: 52%;
}
#button4    {
    position: absolute;
    left: 72%;
}



.aboveImg {
    position: relative;
    margin-top: 20px;
}
.correctAnswers {
    position: absolute;
    left: 10%;
    top: -4%;
}
.incorrectAnswers {
    position: absolute;
    left: 77%;
    top: -4%;
}

.timeRemaining,
.timeRemainingText {
font-weight: 700;
}

.start,
.finished {
    margin-top: 175px;
}
   
.answerText {
    font-size: 25pt;
    font-weight: 700;
}


